{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h1>Painel de ofertas</h1>
            <div class="row">
                <h2>Venda</h2>
                {% include 'components/offer_table.html' with orders=sell_orders %}
            </div>
            <div class="row">
                <h2>Compra</h2>
                {% include 'components/offer_table.html' with orders=buy_orders %}
            </div>
        </div>
        <div class="col-lg-2 col-md-12">
            <h1>Menu</h1>
            <div class="row">
                <button type="button" class="btn btn-success">Oferta de compra</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-danger">Oferta de venda</button>
            </div>
        </div>
    </div>
{% endblock %}